/node_modules
/public/hot
/public/storage
/public/images
/public/fonts
/public/js/build/
/public/css/app.css
/public/js/app.js
/storage/*.key
/vendor
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
